<h1>About</h1>
<p class="lead">This is a web portal by Sardar Patel Institute of Technology students which helps students and professors which promotes research work.
</p>
<p class="lead">
    It helps students in finding research internships at many leading companies and proffessors
    and helps find grants for research works
</p>
