
  <table class="striped">
    <thead>
      <tr>
        <th>Plan/Duration</th>
        <th>Real Plan</th>
        <th>Percentage of Compeletion</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Upto 3 years</td>
          <td>6 months extended</td>
          <td>60%</td>
          <td>May 2016</td>
          <td>May 2019 </td>
        </tr>
    </tbody>
  </table>
