
  <table class="striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Sponsor</th>
        <th>Grants</th>
        <th>Time Of Completion</th>
        <th>Members</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Wireless Sensor Network</td>
          <td>British Petroleum (BP)/Bird life International/ Conservation International/Fauna and Flora international/ Wildlife conservation society</td>
          <td>Conservation Leadership Programme (CLP)-Kate Stokes Memorial Award</td>
          <td>	Upto 3 years</td>
          <td>
              <p>Prof Kailas Devadkar</p>
              <p>Prof Dr.Radha Shankarmani</p>
          </td>
          <td>
            <a class="btn left-align" href="/"><i class="fa fa-pencil"></i> Apply</a>
          </td>
        </tr>
    </tbody>
  </table>
