<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Sign Up Today to be a Part of Research Community</p>

    {{!-- <a href="/scraping/github/sagarika432" class="btn btn-dark btn-lg">Github Scraping</a>
    <br>
    <br> --}}
    {{!-- <a href="/scraping//projectsWithGrants" class="btn btn-dark btn-lg">List Of Research Projects With Grants</a>
    <br>
    <br>
    <a href="/scraping//FloatedProjects" class="btn btn-dark btn-lg">FloatedProjects</a>
    <br>
    <br>
    <a href="/scraping/completion" class="btn btn-dark btn-lg">Completion Status</a> --}}

    <a href="/about" class="btn btn-dark btn-lg pink ">Know More About Research Portal</a>


</div>
