<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Signup to get Research Grants and Research internship notifications by leading Companies</p>
    <a href="/" class="btn btn-dark btn-lg">Dashboard</a>
</div>
