<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Research Grants and Research Work notifications by leading Companies and Organization</p>
    <a href="/scraping//projectsWithGrants" class="btn btn-dark btn-lg blue">List Of Research Projects With Grants</a>
    <br>
    <br>
    <a href="/professor/showProjects" class="btn btn-dark btn-lg green">FloatedProjects</a>
    <br>
    <br>
    <a href="/scraping/completion" class="btn btn-dark btn-lg pink">Completion Status</a>
    <br>
    <br>
    <a href="/professor/addProject" class="btn btn-dark btn-lg yellow">Float Project</a>
    <br>
    <br>
    <a href="/professor/getApplications" class="btn btn-dark btn-lg black">Show Applications</a>


</div>
