<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Research Grants and Research Work notifications by leading Companies and Organization</p>
    <a href="/scraping//projectsWithGrants" class="btn btn-dark btn-lg">List Of Research Projects With Grants</a>
    <br>
    <br>
    <a href="/scraping//FloatedProjects" class="btn btn-dark btn-lg">FloatedProjects</a>
    <br>
    <br>
    <a href="/scraping/completion" class="btn btn-dark btn-lg">Completion Status</a>
    <br>
    <br>
    <a href="/professor/addProject" class="btn btn-dark btn-lg">Float Project</a>


</div>
