<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Research internship notifications by Professors from various institutes and Companies</p>
    <a href="/scraping/internships" class="btn btn-dark btn-lg">Research Internships</a>
    <br>
    <br>
    <a href="/professor/showProjects" class="btn btn-dark btn-lg">Apply for Research Work under Professors</a>
    <br>
    <br>
    <a href="/scraping/completion" class="btn btn-dark btn-lg">Completion Status</a>
</div>
